* {
  font-family: "ubuntu";
  font-weight: bold;
}

.card-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

#informations {
  display: flex;
  flex-flow: row;
}

#weather,
#wind,
#humidity,
#pressure {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  margin-left: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}

img {
  width: 50%;
  height: auto;
}
