<div class="card-body">
  <div class="card-title">
    Liste des stations d'eau de la ville
  </div>

  <div class="wrapper-vertical">
    <p>Stations de prélèvement d'eau à {{ cityName }} :</p>
    <div class="wrapper-btn">
      <button
        class="btn"
        *ngFor="let item of cityWatersList"
        (click)="initChart(item.code_station, item.libelle_station)"
      >
        {{ item.libelle_station }}
      </button>
    </div>
  </div>

  <div class="wrapper-vertical">
    <p>
      Station courante : <strong>{{ currentStation }}</strong>
    </p>
    <div *ngIf="showError" class="error">
      <p>Les données sont indisponibles...</p>
    </div>
    <div *ngIf="showResult" class="result">
      <h3 class="title">Teneur en Nitrate :</h3>
      <ul>
        <li>
          Résultat : <strong>{{ stationInfos.resultat }}</strong>
        </li>
        <li>
          Qualification :
          <strong>{{ stationInfos.libelle_qualification }}</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
