* {
  font-family: "ubuntu";
  font-weight: bold;
}
.card-title {
  margin: 0 0 20px 0;
  padding: 0;
}

.followingDays {
  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.card-body {
  width: calc(25% - 10px);
  height: 229px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  @media only screen and (max-width: 932px) {
    height: auto;
  }
  @media only screen and (max-width: 500px) {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  p {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.icon-weather {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.unity {
  font-size: 14px;
  font-weight: bold !important;
}

.card-title {
  font-weight: normal;
  font-size: 15px;
}

#followingDays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#weather,
#humidity {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  font-size: 15px;
}

#weather {
  margin-bottom: 10px;
}

img {
  width: 50%;
  height: auto;
}
