<div id="previsionWeather" class="container">
  <a (click)="onClick()" class="btn">< Retour</a>
  <h2 class="title">Bienvenue à {{ city }}</h2>

  <div class="wrapper">
    <div class="fifty-container">
      <h3 class="sub-title">Temps</h3>
      <current-weather></current-weather>
    </div>
    <div class="fifty-container">
      <h3 class="sub-title">Prévisions</h3>
      <following-weather></following-weather>
    </div>
  </div>
  <h3 class="sub-title">Graphiques</h3>
  <div class="wrapper">
    <div class="fifty-container">
      <app-graphic></app-graphic>
    </div>
    <div class="fifty-container">
      <app-graphic-pie></app-graphic-pie>
    </div>
  </div>

  <div class="wrapper">
    <div class="fifty-container">
      <app-graphic-line-multi></app-graphic-line-multi>
    </div>
    <div class="fifty-container">
      <wind-graph></wind-graph>
    </div>
  </div>

  <water-info></water-info>
</div>
