.card-body {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;

  canvas {
    margin: 20px 20px 0 0;
  }
}

.card-title {
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 20px 0;
  text-align: center;
  padding: 0;
}
