.card-body {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 20px 0;
  text-align: center;
  padding: 0;
}

.wrapper-btn {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin: 5px;
  font-size: 10px;
  background: #e5e5e5;
  text-transform: lowercase;
  padding: 5px;
}

.wrapper-vertical {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    li {
      margin: 0 20px;
    }
  }
}

.title {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.result {
  width: 60%;
  margin: 0 auto;
  background: #7ed8f6;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}
