<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>
<div class="container">
  <div class="ui-wrapper">
    <img
      alt="image pression"
      class="img-item"
      src="../assets/images/list.svg"
    />
    <ui-switch
      (change)="onChange($event)"
      color="white"
      switchColor="white"
    ></ui-switch>
    <img alt="image pression" class="img-item" src="../assets/images/map.svg" />
  </div>

  <div class="nav-bar" *ngIf="showList">
    <input
      type="search"
      class="form-control"
      placeholder="Rechercher votre ville ici"
      [(ngModel)]="searchText"
    />
  </div>

  <div class="list-button" *ngIf="showList">
    <button-city
      [city]="cities"
      *ngFor="let cities of cities | filter: searchText"
    ></button-city>
  </div>

  <map-city *ngIf="showMap"></map-city>
</div>
