<div class="container">
  <div class="ui-wrapper">
    <img alt="image pression" class="img-item" src="../assets/images/list.svg" />
    <ui-switch (change)="onChange($event)" color="white" switchColor="white"></ui-switch>
    <img alt="image pression" class="img-item" src="../assets/images/map.svg" />
  </div>

  <div class="nav-bar" *ngIf="show1">
    <input
      type="search"
      class="form-control"
      placeholder="Rechercher..."
      [(ngModel)]="searchText"
    />
  </div>

  <div class="list-button" *ngIf="show1">
    <button-city
      [city]="cities"
      *ngFor="let cities of cities | filter: searchText"
    ></button-city>
  </div>
  <map-city *ngIf="show2"></map-city>
</div>


