.card-body {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  text-align: center;
  padding: 0;
}

fieldset {
  text-align: center;
  label {
    cursor: pointer;
    font-weight: normal;
    input {
      margin: 0 5px;
    }
  }
}

